@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-lime: #d8db2f;
  --color-slate-100: #e4f4fd;
  --color-slate-300: #9abed5;
  --color-slate-500: #6b94a8;
  --color-slate-700: #4e6e7e;
  --color-slate-900: #133041;
  --color-white: #fff;
  --color-red: #d73328;
  --spacing-500: 4rem;
  --spacing-400: 3.2rem;
  --spacing-300: 2.4rem;
  --spacing-200: 1.6rem;
  --spacing-150: 1.2rem;
  --spacing-100: 0.8rem;
}

html,
body {
  font-family: "Plus Jakarta Sans", serif;
  font-size: 62.5%;
}

@layer base {
}

@layer components {
  .text-preset-1 {
    font-size: 5.6rem;
    line-height: 125%;
    /* letter-spacing: -1px; */
  }
  .text-preset-2 {
    font-size: 2.4rem;
    line-height: 125%;
    /* letter-spacing: -1px; */
  }
  .text-preset-3 {
    font-size: 1.8rem;
    line-height: 125%;
    /* letter-spacing: -1px; */
    font-weight: 600;
  }
  .text-preset-4 {
    font-size: 1.6rem;
    line-height: 150%;
    /* letter-spacing: 0px; */
  }
  .text-preset-5 {
    font-size: 1.4rem;
    line-height: 150%;
    /* letter-spacing: 0px; */
  }
}
